* {
    font-family: 'El Messiri';
    box-sizing: border-box;
 }
  nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    margin-left: 323px;
 }
 body {
    background-image: url('imges/E05jvKAS3mzLJmR99ggO4QQBz7Sr6Rco1g4Dhwh7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 16px;
 
 }
 
 .container1 {
    width: 60%;
    background: linear-gradient(153deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 85%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 5%;
 }
 
 .container1 h1 {
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    margin-bottom: -28px;
 }
 
 .imges {
    display: flex;
 }
 .imges img {
    width: 526px;
    height: 400px;
    margin-top: -1rem;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    border-radius: 20px;
 
 }
 .social {
    display: flex;
    justify-content: center;
 }
 .social img {
    width: 40px;
    margin: 0.67rem;
    margin-top: 10%;
 }
 @media screen and(min-width:820px) and (max-width:960px) {
    .imges img {
       width: 657px;
       height: 831px;
    }
 }
 
 @media screen and (min-width: 414px) and (max-width:676px) {
    .imges img {
       width: 328px;
       height: 440px;
    }
 
    .container1 {
       width: 99%;
    }
 }
 
 @media screen and (min-width: 676px) and (max-width:768px) {
    .imges img {
       height: 719px;
    }
 }
 
 @media screen and (min-width: 361px) and (max-width:413px) {
    .imges img {
       width: 334px;
       height: 477px;
    }
 
    .container1 {
       width: 94%;
       height: 76%;
       margin-top: -6rem;
    }
 }
 
 @media screen and (min-width: 360px) and (max-width:410px) {
    .imges img {
       width: 334px;
       height: 477px;
    }
 
    .container1 {
       width: 94%;
       height: 76%;
       margin-top: -6rem;
    }
 }
 
 @media screen and (min-width: 667px) and (max-width:860px) {
    body {
       height: 100%;
       width: 100%;
    }
 
    .imges img {
       width: 477px;
       height: 306px;
    }
 }